<h1>Products#index</h1>

<h1>Hello, I am index in the view folder. </h1>

<form action='/products/' method='post'>
  <input type="text" name="name" />
  <textarea name="description"></textarea>
  <input type="submit" value="Create" />
</form>


<p>Find me in app/views/products/index.html.erb</p>


