<form action="/users" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  First Name:<input type="text" name="user[first_name]">
  Last Name:<input type="text" name="user[last_name]">
  Email:<input type="text" name="user[email]">
  Password:<input type="text" name="user[password]">
  <input type="submit" name="create" value="Create">
</form>

<%= flash[:errors] %>




