<table>
<tr>
  <td>First Name:</td>
  <td>Last Name:</td>
  <td>Email:</td>
</tr>
    <tr>
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
      <td><%= @user.email %></td>
    </tr>
</table>

<a href="/users">Back</a>

